*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(10, 58, 85);
}
.kalkulator{
    display: grid;
    position: relative;
}
.kalkulator .value{
    grid-column: span 4;
    width: 240px;
    height: 80px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 18px;
}
.kalkulator span{
    display: grid;
    width: 60px;
    height: 60px;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
    background: rgb(68, 164, 253);
}
.kalkulator .clear{
    grid-column: span 2;
    width: 120px;
    background: rgba(111, 190, 255, 0.829);
}
.kalkulator .plus{
    grid-row: span 2;
    height: 120px;
    background: rgb(68, 164, 253);
}